<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Изменение резиденции</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>


<div class="container mt-3" style="max-width: 400px;">
    <form method="post" action="/deleteRelationship">
        <input type="hidden" name="id_person_1" th:value="${person.getId()}">
        <div class="form-group">
            <label>Какую связь удалить</label>
            <div class="input-group">
                <select class="custom-select" name="id_relationship">
                    <ul th:each="relationship: ${relationships}">
                        <li>
                            <option th:value="${relationship.getId()}" th:text="${relationship.getPerson_2().getName()}"></option>
                        </li>
                    </ul>
                </select>
            </div>
        </div>




        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>

</div>
<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>